body {
    background-image: linear-gradient(rgb(34, 95, 63) ,rgb(2, 31, 17));
    
}
#match-history img {
    height: 50px;
    width: 50px;

}

img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.big-div {
    height: 100vh;
    opacity: 1;
}

.l-div {
    height: 100vh;
    overflow: hidden;
    
}
.r-div {
    height: 100vh;
}
.score {
    background-image: linear-gradient(rgb(9, 102, 55) ,rgb(4, 74, 40));
}